html {
    background-color:black;
    font-family: Verdana, sans-serif;
}


* {
    box-sizing: border-box;
}


@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


body {
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}


.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 18px;
    background-color: #000000;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    padding-bottom: 0px;
    position: relative;
    display: inline-block;
}


.btn:hover {
    background: linear-gradient(-45deg, #332f2e, #943f60, #064f94, #008afc);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}


#botones {
    display: flex;
    flex-grow: 3;
    float: right;
}


.contenido-dropdown{
    margin-top: 50px;
    width: 93px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    -webkit-animation: fadein 0.3s;
    animation: fadein 0.3s;
}


.dropdown:hover .contenido-dropdown {display: flex;}


.dropdown{
    display: flex;
    justify-content: center;
}


.opcion_menu{
    text-align: center;
    width: 100%;
    margin: 5px;
}

.opcion_menu:hover{
    background-color: #0075d4;
}


#cabecera {
    width: 100%;
    height: 50px;
    font-size: xx-large;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}


#cabText {
    position: relative;
    margin: 0;
    text-align: center;
    color: white;
}


.fila {
    display: flex;
}


.fila_eventos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.columna {
    padding: 10px;
}


#panel_lateral_izquierdo {
    color: white;
    flex-direction: column;
    background-color: white;
    display: flex;
    flex-basis: 3%;
    align-items: center;
    justify-content: center;
    min-height: 800px;
}


#panel_principal {
    flex-basis: 94%;
    min-width: 0;
    min-height: 0;
    background: linear-gradient(-45deg, #332f2e, #943f60, #064f94, #008afc);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    overflow: hidden;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#panel_lateral_derecho{
    background-color: white;
    flex-basis: 3%;
    min-width: 30px;
    max-width: 75px;
    display: flex;
}


#comments_btn {
    background-color: white;
    border: white;
    padding: 0;
    width: 100%;
    height: 100%;
}


#comments_btn:hover{
    background-color: #80808077;
    animation: fadein 0.3s;
}


#comments_section {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(2, 2, 2, 0.904);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}


#comments_closebtn {
    position: absolute;
    margin-left: 15px;
    font-size: 2.5em;
    top: 0;
}


#bloque_comentarios {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}


#redactar_comentario {
    margin-top: auto;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.campo {
    width: 100%;
}


.label_campo {
    text-align: right;
    width: 100px;
    font-size: 1em;
}


#titulo_form_comentario{
    font-size: 1.15em;
    margin: 0
}


#form_comentario {
    margin-top: 10px;
    width: 90%;
}


#comentar_btn{
    font-size: 15px;
    margin-bottom: 10px;
}


.comentario{
    width: 90%;
    margin-top: 10px;
    background-color: white;
}


.comentarioListado{
    width: 90%;
    margin-top: 10px;
    color: white;
    background-color: #000000;
}


.info_evento_comentario{
    margin-left: 10px;
    line-height: 2px;
}


.profile_picture{
    width: 3.5em;
    margin-left: 5px;
    margin-top: 5px;
    align-self: center;
}


.titulo_comentario{
    display: flex;
}


.username{
    margin-left: 15px;
    margin-top: 20px;
}


.contenido_comentario{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


.parrafo_comentario{
    margin-left: 10px;
    margin-right: 10px;
}


.fecha_comentario{
    margin: 0;
}


.hora_comentario{
    margin: 0; 
}


.fecha_hora_comentario{
    font-size: 0.8em;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.comment_btn{
    font-size: 13px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgba(4, 99, 183, 1);
    margin: 0;
    padding: 10px;
    font-weight: bold;
    margin-left: 2px;
}


.comment_footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.aviso_edicion{
    font-size: 15px;
    margin-left: 10px;
}


.formulario_edicion_comentario{
    display: none;
    margin-left: 10px;
    margin-top: 10px;
}


.modal_warning{
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    bottom: 0.5px;
    background-color: rgba(78, 78, 78, 0.671);
    -webkit-animation: fadein 0.3s;
    animation: fadein 0.3s;
}


.modal_warning_frame{
    background-color: white;
    margin-top: 150px;
    height: 200px;
    width: 400px;
}


.modal_warning_closebtn{
    margin-left: 10px;
    font-size: 2.5em;
    color: #000000;
}


.modal_warning_msg{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.modal_warning_decoration{
    background: linear-gradient(-45deg, #332f2e, #943f60, #064f94, #008afc);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    width: 100%;
    height: 20px;
}


#pie {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    align-items: end;
    justify-content:end;
}


#pie_body {
    font-style: italic;
    margin-right: 20px;
}


.evento {
    font-size: min(2vw, 1em);
    width: 20vw;
    max-width: 300px;
    min-width: 100px;
    height: 21vw;
    max-height: 310px;
    background-image: url("../img/default_event.jpg");
    background-size:cover;
    background-position: center;
    margin: 20px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09), 
    0 8px 4px rgba(0,0,0,0.09), 
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}


.evento:hover .info{
    display: block;
    animation: fadein 0.5s;
}


.evento:hover .modificar_evento{
    display: block;
    animation: fadein 0.5s;
}


.info {
    background-color: rgba(196, 0, 0, 0.705);
    color: white;
    width: 100%;
    display: none;
    font-size: 1.5em;
}


.ico {
    width: 4vw;
    margin-bottom: 5px;
    max-width: 40px;
    min-width: 0;
}


.event_title {
    overflow-wrap: break-word;
    margin-left: 50px;
    padding-top: 20px;
    font-style: bold;
    margin-right: 15px;
    font-size: min(2.9vw, 1.3em);
    line-height: 0px;
}


h2 {
    font-size: 3em;
}


.event_body {
    margin-left: 50px;
    color: rgb(0, 0, 0);
    font-size: 1.15em;
}


.event_picture {
    margin-right: 20px;
    margin-left: 20px;
    width: 50vw;
    max-width: 650px;
    box-shadow: 
    0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}


.event_info {
    background-color: #ffffff;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
    0 4px 2px rgba(0,0,0,0.09), 
    0 8px 4px rgba(0,0,0,0.09), 
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
    margin: 30px;
}


#contenedor_formulario_evento{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 15px;
}


.formulario_evento{
    margin: 10px;
}


.event_link {
    color:#0075d4;
}


.share_menu {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
}


.event_picture_container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 75%;
}


.recuadro_articulo {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 650px;
    flex-wrap: wrap;
}


.cuerpo_articulo{
    flex: 0 0 25%;
}


#logo {
    position: absolute;
    width: 2.2em;
    padding-right: 10px;
}


#printer {
    width: 30px;
    margin-bottom: 30px;
}


#facebook {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}


#twitter2 {
    width: 28px;
    height: 30px;
    margin-right: 7px;
}

.a_sobre_blanco{
    text-decoration: none;
    color: blue;
}


a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


#galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #00000027;
    margin-bottom: 20px;
}


.contenedor_foto_galeria {
    width: 500px;
    margin: 15px;
    line-height: 0.1em;
    display: flex;
    justify-content: center;
}

.foto_galeria {
    opacity: 1;
    width: 100%;
    max-width: 300px;
    margin: 0;
}


.contenedor_foto_galeria:hover .foto_galeria {
    opacity: 0.3;
    transition: .5s ease;
}


.panel_identificacion {
    width: 400px;
    background-color: white;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
    0 4px 2px rgba(0,0,0,0.09), 
    0 8px 4px rgba(0,0,0,0.09), 
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
}


#panel_registro{
    display: flex;
}


#logo_registro {
    width: 100px;
    margin-bottom: 50px;
    margin-top: 30px;
}


#footer_registro{
    margin-top: 50px;
}


.error{
    font-weight: bold;
    color: red;
}


#error_add_evento{
    margin-left: 10px;
}


.panel_perfil {
    width: 400px;
    background-color: white;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
    0 4px 2px rgba(0,0,0,0.09), 
    0 8px 4px rgba(0,0,0,0.09), 
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
}


#formulario_edicion{
    margin-bottom: 30px;
}


.contenedor_listado{
    padding-bottom: 10px;
    background-color: white;
    width: 50vw;
    min-width: 350px;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#barra_busqueda{
    margin-top: 10px;
    margin-bottom: 30px;
}


.modificar_evento{
    width: 100px;
    padding: 5px;
    display: none;
    align-self: flex-end;
    justify-self: flex-start;
    background-color: rgba(39, 39, 39, 0.801)
}


.evento_listado{
    color: black;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

.evento_listado:hover {
    background-color: rgb(175, 175, 175);
}


.titulo_evento_listado{
    font-weight: bold;
}


.evento_listado{
    margin: 20px;
}


.resumen_evento{
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
}


.etiquetas{
    font-size: 0.85em;
}


.etiquetas_briefing{
    overflow-wrap: break-word;
    font-size: min(3vw, 15px);
    width: 100%;
    padding: 5px;
    display: none;
    align-self: flex-end;
    justify-self: flex-start;
    background-color: rgba(39, 39, 39, 0.801);
    color: white;
}


.evento:hover .etiquetas_briefing{
    display: block;
    animation: fadein 0.5s;
}


@media (max-width: 865px) {                  
    #logo {
       width: 1.8em;
    }


    .event_title {
        line-height: 25px;
    }


    .event_picture_container {
        margin:auto;
    }

    #galeria {
        display: none;
    }


    .event_body {
        margin-right: 50px;
    }

    .cuerpo_articulo{
        flex: 0 0 100%;
    }
 }