{% extends "evento.html" %}

{% block comentarios %}
{% endblock comentarios %}

{% block panel_principal %}
<div id="panel_principal" class="columna">
    <div id="contenedor_formulario_evento">
        <form id="formulario_creacion_evento" action="/crearEvento.php" method="POST" enctype="multipart/form-data">
            <label for="ffecha">Fecha:</label><br>
            <input type="date" id="ffecha" name="ffecha" required><br><br>
            <label for="ftitle">Título:</label><br>
            <input type="text" id="ftitle" name="ftitle" required><br><br>
            <label for="forganizador">Organizador:</label><br>
            <input type="text" id="forganizador" name="forganizador" required><br><br>
            <label for="fwebsite">Website:</label><br>
            <input type="text" id="fwebsite" name="fwebsite"><br><br>
            <label for="fimagenes[]">Añadir imágenes:</label><br>
            <input type="file" id="fimagenes" name="fimagenes[]" multiple><br><br>
            <label for="fminiatura">Añadir miniatura:</label><br>
            <input type="file" id="fminiatura" name="fminiatura">
        </form>
        
        <textarea rows="30" cols="60" name="cuerpo" form="formulario_creacion_evento" required></textarea>
        <input type="submit" value="Guardar evento" name="fbtn", form="formulario_creacion_evento">
    </div>
</div>
{% endblock panel_principal %}

{% block panel_lateral_derecho %}
<div id="panel_lateral_derecho"></div>
{% endblock panel_lateral_derecho %}