{% extends "padre.html" %}


{% block comentarios %}
<script src="../JS/comments.js" defer></script>

<div id="fill_gaps_warning" class="modal_warning">
    <div class="modal_warning_frame">
        <a href="javascript:void(0)" class="modal_warning_closebtn" onclick="close_fill_gaps_error()">&times;</a>
        <p class="modal_warning_msg">Todos los campos han de ser rellenados</p>
        <div class="modal_warning_decoration"></div>
    </div>
</div>

<div id="wrong_mail_warning" class="modal_warning">
    <div class="modal_warning_frame">
        <a href="javascript:void(0)" class="modal_warning_closebtn" onclick="close_wrong_mail_error()">&times;</a>
        <p class="modal_warning_msg">Introduzca un mail correcto</p>
        <div class="modal_warning_decoration"></div>
    </div>
</div>
{% endblock comentarios %}

{% block panel_principal %}
<div id="panel_principal" class="columna">
    <article class ="event_info">
        <section class="event_title">
            <h3>{{evento.fecha_evento}}</h3>
            <h2>{{evento.nombre_evento}}</h2>
            <h3>Organizado por {{evento.organizador}}</h3><br>
            {% if evento.etiquetas is not empty %}
            <h3 class="etiquetas">Etiquetas: {{ evento.etiquetas|join(', ') }}.</h3>
            {% endif %}
        </section>

        <section class="recuadro_articulo">
            <section class="cuerpo_articulo">
                {{evento.descripcion | raw}}
            </section>

            <section class="event_picture_container">
                <img class="event_picture" src="../img/{{evento.imagen_principal.nombre_imagen}}" alt="imagen_principal">
                <p>{{evento.imagen_principal.copyright_imagen}}</p>
            </section>
        </section>

        <section id="galeria">
            {% for imagen in evento.imagenes_galeria %}
            <a class="contenedor_foto_galeria" href="../img/{{imagen.nombre_imagen}}">
            <img src="../img/{{imagen.nombre_imagen}}" alt="imagen" class="foto_galeria">
            </a>
            {% endfor %}
        </section>

        <div class="share_menu">
            <a href="evento_imprimir.php?ev={{evento.id_evento}}">
                <img id="printer" src="../img/printer.webp" alt="print">
            </a>
            <img id="facebook" src="../img/facebook.png" alt="facebook">
            <img id="twitter2" src="../img/twitter2.png" alt="twitter">
        </div>
    </article>
</div>
{% endblock panel_principal %}
            
{% block panel_lateral_derecho %}
<div id="panel_lateral_derecho">
    <button id="comments_btn" type="button" onclick="openComments()"><img class="ico" src="../img/message.png" alt="comments"></button>
    <div id="comments_section">
        <a href="javascript:void(0)" id="comments_closebtn" onclick="closeComments()">&times;</a>
        <div id="bloque_comentarios">
            {% for comentario in comentarios %}
            <div id="comentario{{comentario.id}}" class="comentario">
                <header class="titulo_comentario">
                    <img class="profile_picture" src="../img/avatar.png" alt="avatar">
                    <p class="username">{{comentario.usuario}}</p>
                    <div class="fecha_hora_comentario">
                        <p class="fecha_comentario">{{comentario.fecha_hora}}</p>
                    </div>
                </header>

                <div id="contenido_comentario{{comentario.id}}" class="contenido_comentario">
                    <p class="parrafo_comentario">{{comentario.contenido}}</p>
                </div>

                <form class="formulario_edicion_comentario" id="formulario_edicion_comentario{{comentario.id}}" action="/evento.php?ev={{evento.id_evento}}" method="POST">
                    <input type="hidden" name="fidComentario" value="{{comentario.id}}">
                    <input type="text" id="fcontenido" name="fcontenido" value="{{comentario.contenido}}" required><br><br>
                    <input type="submit" value="Editar" name="fbtn">
                </form>

                {% if comentario.editado %}
                <p class="aviso_edicion"><i>Comentario editado por un moderador</i></p>
                {% endif %}
                
                {% if tipo_usuario == 'moderador' %}
                <div class="comment_footer">
                    <a id="edit{{comentario.id}}" class="comment_btn" onclick="mostrarFormularioEdicion('{{comentario.id}}')">Editar</a>
                    <!--<button id="delete{{comentario.id}}" class="comment_btn" onclick="removeComentario(this.id)">Borrar</button>-->
                    <a href="evento.php?ev={{evento.id_evento}}&borrarc={{comentario.id}}" id="delete{{comentario.id}}" class="comment_btn">Borrar</a>
                </div>
                {% endif %}           
            </div>
            {% endfor %}
        </div>
        
        <div id="redactar_comentario">
            {% if usuario %}
            <p id="titulo_form_comentario">Deja tu comentario!</p>
            <form id="form_comentario" action="/evento.php?ev={{evento.id_evento}}" method="POST">
                <div class="form_seccion"><label class="label_campo">Nombre:</label><br> <input type="text" id="fname" name="fname" class="campo" value={{usuario}} readonly></div><br>
                <div class="form_seccion"><label class="label_campo">Mail:</label><br> <input type="text" id="fmail" name="fmail" class="campo" value={{email}} readonly></div><br>
                <div class="form_seccion"><label class="label_campo">Comentario:</label><br> <textarea oninput="censurar('{{palabras_censuradas|json_encode}}')" id="fcomment" name="fcomment" class="campo"></textarea></div><br>
                <!--<input type="button" value="Comentar" id="comentar_btn" onclick="comprobarCampos()">-->
                <input id="comentar_btn" type="submit" value="Comentar">
            </form>

            {% else %}
            <p><a href="../identificacion.php"><b>Inicia sesión para comentar</b></a></p>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock panel_lateral_derecho %}