{% extends "padre.html" %}

{% block panel_principal %}
<div id="panel_principal" class="columna">
    <div class="fila_eventos">
        {% for evento in listaeventos %}
        <div style="background-image: url(../img/{{evento.icono}});" class="evento">
            <div class="info">
                <a href="evento.php?ev={{evento.id}}">
                    <p>{{evento.nombre_evento}}</p>
                </a>
            </div>
        </div>
        {% endfor %}

        {% if tipo_usuario == 'gestor' %}
        <div style="background-image: url(../img/addEvento.jpg);" class="evento">
            <div class="info">
                <a href="index.php">
                    <p>Crear evento</p>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock panel_principal %}