{% extends "padre.html" %}

{% block panel_principal %}
<div id="panel_principal" class="columna">
    {% for fila, infos in listaeventos.info %}
    <div class="fila">
        {% for info in infos %}
        <div id="ev{{ (loop.index - 1) + 3*(loop.parent.loop.index - 1) }}" class="evento">
            <div class="info">
                <a href="evento.html">
                    <p>{{ info }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
        
        <!--<div id="ev2" class="evento">
            <div id="info2" class="info">
                <a href="evento.html">
                    <p>PlaidCTF 2021</p>
                </a>
            </div>
        </div>
        <div id="ev3" class="evento">
            <div id="info3" class="info">
                <a href="evento.html">
                    <p>LINE CTF 2021</p>
                </a>
            </div>
        </div>-->
    </div>
    {% endfor %}


    <!--<div id="fila_eventos2" class="fila">
        <div id="ev4" class="evento">
            <div id="info4" class="info">
                <a href="evento.html">
                    <p>DEFCON</p>
                </a>
            </div>
        </div>
        <div id="ev5" class="evento">
            <div id="info5" class="info">
                <a href="evento.html">
                    <p>RSA Conference</p>
                </a>
            </div>
        </div>
        <div id="ev6" class="evento">
            <div id="info6" class="info">
                <a href="evento.html">
                    <p>Hack in Paris</p>
                </a>
            </div>
        </div>
    </div>

    <div id="fila_eventos3" class="fila">
        <div id="ev7" class="evento">
            <div id="info7" class="info">
                <a href="evento.html">
                    <p>Black Hat USA</p>
                </a>
            </div>
        </div>
        <div id="ev8" class="evento">
            <div id="info8" class="info">
                <a href="evento.html">
                    <p>Google CTF</p>
                </a>
            </div>
        </div>
        <div id="ev9" class="evento">
            <div id="info9" class="info">
                <a href="evento.html">
                    <p>NULLCON</p>
                </a>
            </div>
        </div>
    </div>-->
</div>
{% endblock panel_principal %}