{% extends "padre.html" %}

{% block panel_principal %}
<div id="panel_principal" class="columna">
    <div class="fila_eventos">
        {% for evento in listaeventos %}
        <div style="background-image: url(../img/{{evento.icono}});" class="evento">
            <div class="info">
                <a href="evento.html">
                    <p>{{evento.nombre_evento}}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--<div id="fila_eventos2" class="fila">
        <div id="ev4" class="evento">
            <div id="info4" class="info">
                <a href="evento.html">
                    <p>DEFCON</p>
                </a>
            </div>
        </div>
        <div id="ev5" class="evento">
            <div id="info5" class="info">
                <a href="evento.html">
                    <p>RSA Conference</p>
                </a>
            </div>
        </div>
        <div id="ev6" class="evento">
            <div id="info6" class="info">
                <a href="evento.html">
                    <p>Hack in Paris</p>
                </a>
            </div>
        </div>
    </div>

    <div id="fila_eventos3" class="fila">
        <div id="ev7" class="evento">
            <div id="info7" class="info">
                <a href="evento.html">
                    <p>Black Hat USA</p>
                </a>
            </div>
        </div>
        <div id="ev8" class="evento">
            <div id="info8" class="info">
                <a href="evento.html">
                    <p>Google CTF</p>
                </a>
            </div>
        </div>
        <div id="ev9" class="evento">
            <div id="info9" class="info">
                <a href="evento.html">
                    <p>NULLCON</p>
                </a>
            </div>
        </div>
    </div>-->
</div>
{% endblock panel_principal %}