<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block css %}
        <link href="../css/style.css" rel="stylesheet" type="text/css">
        {% endblock css %}
        <title>SIBW</title>
    </head>
    <body>
        {% block comentarios %}
        {% endblock comentarios %}
        <header id="cabecera">
            <a href="index.php">
                <img id="logo" src="../img/logo.png" alt="logo">
            </a>

            <div id="botones">
                <a href="./index.php" class="btn">Portada</a>

                <a href="./index.php" class="btn">Eventos</a>

                <a href="./listadoComentarios.php" class="btn">Comentarios</a>

                {% if usuario %}
                <div class="dropdown">
                    <a class="dropbtn btn">{{usuario}}</a>
                    <div class="contenido-dropdown">
                        <a class="opcion_menu" href="./perfil.php">Perfil</a>
                        <a class="opcion_menu" href="./logout.php">Logout</a>
                    </div>
                </div>
                {% else %}
                <a href="./identificacion.php" class="btn">Identifícate</a>
                {% endif %}
            </div>
        </header>

        <div id="fila_principal" class="fila">
            <div id="panel_lateral_izquierdo" class="columna">
                <img class="ico" id="twitter" src="../img/twitter.png" alt="twitter">
                <img class="ico" id="reddit" src="../img/reddit.png" alt="reddit">
                <img class="ico" id="youtube" src="../img/youtube.png" alt="youtube">
            </div>

            {% block panel_principal %}
            {% endblock %}

            {% block panel_lateral_derecho %}
            <div id="panel_lateral_derecho">
            </div>
            {% endblock panel_lateral_derecho %}
        </div>

        <footer id="pie">
            <p id="pie_body">Made with love! By @Olasergiolas</p>
        </footer>
        
    </body>
</html>